body {
  font-family: sans-serif;
  font-size: 1.3rem;
  background: #0e0e10;
  color: white;
  text-align: center;
  padding: 2rem;
}
input, button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
}

#Analizar {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin: 1rem;
}

#Analizar:hover {
  background-color: blue;
}

#Cancelar {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin: 1rem;
}

#Cancelar:hover {
  background-color: darkred;
}

#resultado {
  margin-top: 1.5rem;
}

input[type=number] {
  -moz-appearance: textfield; 
  appearance: none; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; 
  margin: 0;
}