body {
  font-family: sans-serif;
  background: #0e0e10;
  color: white;
  text-align: center;
  margin-top: 8rem;
}

.titulo {
  font-size: 90px;
}

.inputNumero {
  width: 25%;
  height: 2rem;
  padding: 10px 12px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.botones {
  width: 500px;
  margin: auto;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: .8rem;
  width: 140px;
  font-size: 1.2rem;
  margin: 1rem;
}

.btnAnalizar {
  background-color: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow:
    0 0 4px rgb(0, 255, 255),
    0 0 9px rgb(0, 255, 255),
    0 0 15px rgb(0, 255, 255),
    0 0 35px rgba(0, 255, 255, 0.5);
}

.btnAnalizar:hover {
  background-color: rgb(50, 255, 255);
  box-shadow:
    0 0 10px rgb(50, 255, 255),
    0 0 20px rgb(50, 255, 255),
    0 0 40px rgb(50, 255, 255),
    0 0 70px rgba(50, 255, 255, 0.7);
  transform: scale(1.05);
}

.btnCancelar {
  background-color: rgb(255, 0, 100);
  color: rgb(255, 255, 255);
  box-shadow:
    0 0 4px rgb(255, 0, 100),
    0 0 9px rgb(255, 0, 100),
    0 0 15px rgb(255, 0, 100),
    0 0 35px rgba(255, 0, 100, 0.5);
}

.btnCancelar:hover {
  background-color: rgb(255, 50, 150);
  box-shadow:
    0 0 10px rgb(255, 50, 150),
    0 0 20px rgb(255, 50, 150),
    0 0 40px rgb(255, 50, 150),
    0 0 70px rgba(255, 50, 150, 0.7);
  transform: scale(1.05);
}

.resultado {
  margin: auto;
  margin-top: 1.5rem;
  width: 30%;
  height: 400px;
}

.cargando {
  display: none;
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-top: 12px;
}

.cancelado {
  display: none;
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-top: 12px;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    font-family: sans-serif;
    background: #0e0e10;
    color: white;
    text-align: center;
    margin-top: 7rem;
  }

  .titulo {
    font-size: 45px;
  }

  .inputNumero {
    width: 65%;
    height: 2rem;
    padding: 10px 12px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .botones {
    width: 65%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: .5rem;
  }

  button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: .5rem;
    width: 100px;
    font-size: 1rem;
    margin: 1rem;
  }

  .resultado {
    margin: auto;
    margin-top: 1.5rem;
    width: 90%;
    height: 350px;
  }

  .cargando {
    display: none;
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 12px;
  }
}